<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonLib" version="1.7.1202.1044" targetFramework="net472" />
  <package id="Diascan.CdlChecking" version="1.1.0" targetFramework="net472" />
  <package id="Diascan.NDT.Enums" version="1.0.1.5" targetFramework="net472" />
  <package id="Diascan.Utils.Maths" version="1.0.1" targetFramework="net472" />
</packages>