<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AgentConnectionString" connectionString="Server=vds01-tepgsql45;Port=5432;database=DBAgent;User Id = agent; Password=Gfhkm$45^65;Convert Infinity DateTime=true;"/>
    <add name="DCPrimaryConnectionString" connectionString="Server=vds01-tepgsql45;Port=5432;database=DCPrimary_1.0.8;User Id = webuser; Password=123qweQWE;Convert Infinity DateTime=true;"/>
    
    <!--<add name="AgentConnectionString" connectionString="Server=10.209.81.239;Port=5432;database=DBAgent;User Id = agent; Password=Pa3b487fo;Convert Infinity DateTime=true;" />
    <add name="DCPrimaryConnectionString" connectionString="Server=10.209.81.239;Port=5432;database=DCPrimary_1.0.8;User Id = webuser; Password=123qweQWE;Convert Infinity DateTime=true;"/>--> 
  </connectionStrings> 
</configuration>