<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="NotificationApiUrl" value="http://vds01-demsiis29.ctd.tn.corp:8558/api/v1/" />
        <add key="UrlPathDiCoreMainWrapper" value="http://vds01-demsiis29:8028/api/v1/" />
        <add key="ApiUrlStaffWrapper" value="http://vds01-demsiis29:8555/api/v2/" />
        <add key="WebApiAgentUrl" value="http://vds01-tetemp-13/api/Agent/" />
        <add key="SmptNotificationSecurityKey" value="4e6f74696669636174696f6e" />
        <add key="ApplicationCodeStaffWrapper" value="Agent" />
        <add key="PermissionCodeStaffWrapper" value="User" />
        <add key="auth:Application" value="agent" />
    </appSettings>
    <connectionStrings>
        <add name="AgentConnectionString" connectionString="server=sds01-depgsql01;Port=5432;database=DBAgent;User Id=agent;Password=Pa3b487fo;Convert Infinity DateTime=true; " providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
